In [5]:
import pandas as pd

# EXERCICIOS - a partir da pag. 24

### exercicio 05 - Um novo medicamento para cicatrização está sendo testado e um experimento é feito para estudar o tempo - em dias -  de completo fechamento de cortes provenientes de cirurgia. Uma amostra em trinta cobaias forneceu os valores: 15, 17, 16, 15, 17, 14, 17, 16, 16, 17, 15, 18, 14, 17, 15, 14, 15, 16, 17, 18, 18, 17, 15, 16, 14, 18, 18, 16, 15, 14.
    
   #### a) Organize uma tabela de frequencia
   #### b) Que porcentagem das observacoes estao abaixo de 16 dias
   #### c) Classifique como rapida as cicatrizacoes iguais ou inferiores a 15 dias e como lebta as demais. Faca um diagrama
   #### circular indicando as porcentagens para cada classificação.

In [6]:
dias = [15, 17, 16, 15, 17, 14, 17, 16, 16, 17, 15, 18, 14, 17, 15, 14, 15, 16, 17, 18, 18, 17, 15, 16, 14, 18, 18, 16, 15, 14]

In [7]:
len(dias)

30

In [8]:
dfa = pd.DataFrame(data = {'Dias Recuperação': dias}, index=range(1,31))

In [9]:
dfa.rename_axis('Cobaias', axis='columns', inplace = True)

In [10]:
dfa

Cobaias  Dias Recuperação
1                      15
2                      17
3                      16
4                      15
5                      17
6                      14
7                      17
8                      16
9                      16
10                     17
11                     15
12                     18
13                     14
14                     17
15                     15
16                     14
17                     15
18                     16
19                     17
20                     18
21                     18
22                     17
23                     15
24                     16
25                     14
26                     18
27                     18
28                     16
29                     15
30                     14

In [11]:
frequencia = dfa['Dias Recuperação'].value_counts()

In [12]:
frequencia

17    7
15    7
16    6
18    5
14    5
Name: Dias Recuperação, dtype: int64

#### resposta da (A)

In [13]:
df_a = pd.DataFrame({'Frequência': frequencia})

In [14]:
df_a.rename_axis('Dias', axis='columns', inplace = True)

In [15]:
df_a

Dias  Frequência
17             7
15             7
16             6
18             5
14             5

In [16]:
#B

In [17]:
lista_menor = [dia for dia in dias if dia < 16]
lista_menor

[15, 15, 14, 15, 14, 15, 14, 15, 15, 14, 15, 14]

In [18]:
dfb = pd.DataFrame(data = {'Dias Recuperação': lista_menor})

In [19]:
dfb

    Dias Recuperação
0                 15
1                 15
2                 14
3                 15
4                 14
5                 15
6                 14
7                 15
8                 15
9                 14
10                15
11                14

#### resposta da B

In [20]:
lista1 = len(dias)
lista2 = len(lista_menor)
porcentagem = lista2 / lista1 * 100
porcentagem

40.0

In [21]:
#C

In [22]:
classes = (0,15,20)
labels = ('rapida', 'lenta')

In [23]:
#pd.cut

In [24]:
df_a

Dias  Frequência
17             7
15             7
16             6
18             5
14             5

In [25]:
pd.cut(x = dfa['Dias Recuperação'], 
       bins = classes,
       labels = labels,
       include_lowest = True)

1     rapida
2      lenta
3      lenta
4     rapida
5      lenta
6     rapida
7      lenta
8      lenta
9      lenta
10     lenta
11    rapida
12     lenta
13    rapida
14     lenta
15    rapida
16    rapida
17    rapida
18     lenta
19     lenta
20     lenta
21     lenta
22     lenta
23    rapida
24     lenta
25    rapida
26     lenta
27     lenta
28     lenta
29    rapida
30    rapida
Name: Dias Recuperação, dtype: category
Categories (2, object): [rapida < lenta]

In [26]:
frequencia = pd.value_counts(
    pd.cut(x = dfa['Dias Recuperação'], 
       bins = classes,
       labels = labels,
       include_lowest = True)
)
percentual = pd.value_counts(
    pd.cut(x = dfa['Dias Recuperação'], 
       bins = classes,
       labels = labels,
       include_lowest = True), normalize=True
)*100

In [27]:
frequencia

lenta     18
rapida    12
Name: Dias Recuperação, dtype: int64

In [28]:
percentual

lenta     60.0
rapida    40.0
Name: Dias Recuperação, dtype: float64

In [29]:
tabela = pd.DataFrame({'Frequência' : frequencia, 'Porcentagem (%)' : percentual})

In [30]:
#resposta da letra c
tabela

        Frequência  Porcentagem (%)
lenta           18             60.0
rapida          12             40.0

### Exercicio 06 - O posto de saudede um certo bairro mantem um arquivo com o numero  de criancas nas familias que se utilizam do Posto. Os dados sao os seguintes: 3, 4, 3, 4, 5, 1, 6, 3, 4, 5, 3, 4, 3, 3, 4, 3, 5, 5, 5, 5, 6, 11, 10, 2, 1, 2, 3, 1, 5 e 2.

#### a) Organize uma tabela de frequencia
#### b) Faça uma representacao grafica
#### c) Voce identifica valores muito discrepantes? Que fazer com eles?

In [31]:
  lista = [3, 4, 3, 4, 5, 1, 6, 3, 4, 5, 3, 4, 3, 3, 4, 3, 5, 5, 5, 5, 6, 11, 10, 2, 1, 2, 3, 1, 5, 2]

In [32]:
tamanho = len(lista)

In [33]:
df6 = pd.DataFrame(data = {'Num Crianças': lista}, index=range(1, tamanho+1))
df6.rename_axis('Id', axis='columns', inplace = True)

In [34]:
df6

Id  Num Crianças
1              3
2              4
3              3
4              4
5              5
6              1
7              6
8              3
9              4
10             5
11             3
12             4
13             3
14             3
15             4
16             3
17             5
18             5
19             5
20             5
21             6
22            11
23            10
24             2
25             1
26             2
27             3
28             1
29             5
30             2

In [40]:
frequencia = df6['Num Crianças'].value_counts()
percentual = df6['Num Crianças'].value_counts(normalize=True)*100
tabela = pd.DataFrame(data={'Freq': frequencia, '%': percentual})
tabela.rename_axis('número de crianças/fam', axis='columns', inplace = True)
tabela

número de crianças/fam  Freq          %
3                          8  26.666667
5                          7  23.333333
4                          5  16.666667
2                          3  10.000000
1                          3  10.000000
6                          2   6.666667
11                         1   3.333333
10                         1   3.333333

In [57]:
tabela.sort_values('número de crianças/fam')

KeyError: 'número de crianças/fam'